@import "tailwindcss";


:root {
  --primary: #6346FA;
  --secondary: #1B1B2B;
}

body {
  font-family: var(--font-kodchasan-medium);
}

.text-primary {
  color: var(--primary);
}

.bg-primary {
  background-color: var(--primary);
}

.border-primary {
  border-color: var(--primary);
}


.text-secondary {
  color: var(--secondary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.border-secondary {
  border-color: var(--secondary);
}


.main-bg {
  background: #F7F7F5;
  background: linear-gradient(0deg, rgba(247, 247, 245, 1) 0%, rgba(221, 214, 255, 1) 100%);
}